<h3>Users</h3>


<div class="row">
  <div class="col-md-2">
    <label class="form-control-static">User name:</label>
  </div>
  <div class="col-md-6">
    <input #userName class="form-control"/>
  </div>
  <div class="col-md-4">
    <button class="btn btn-default" (click)="addUser(userName.value); userName.value=''">
      Add
    </button>
  </div>
 
  
  
</div>

<p *ngIf="!users"><em>Loading...</em></p>
<h2><a class="btn btn-default" (click)="onReloadUsers()"><i class="glyphicon glyphicon-refresh"></i></a> Users</h2>
<ul class="users">
  <li *ngFor="let user of users"
      [class.selected]="user === selectedUser"
      (click)="onSelect(user)">
    {{user.name}}
    <button class="btn btn-sm btn-danger pull-right" (click)="deleteUser(user); $event.stopPropagation()">
       <i class="glyphicon glyphicon-trash btn-danger"></i>
    </button>
  </li>
</ul>
<user-detail [user]="selectedUser"></user-detail>
